* {
    margin:0;
    padding:0;
}

html {
    margin:50px;
    font-size:10px;
    
}

/* switcher */
ul {
    margin-top: 30px;
    display:flex;
    list-style: none;
    margin-bottom: 50px;
}

li {
    width:20px;
    margin-right:20px;
    height:20px;
    border-radius:15px;
    border:1.5px solid black;
}

#yellowButton {
    background-color: yellow;
}

#whiteButton {
    background-color: white;
}

#blueButton {
    background-color: blue;
}

#redButton {
    background-color: tomato;
}

/* main section*/
main {
    color:black;
}

p {
    margin-top: 10px;
}
/*color changes*/
.red-theme {
    background-color: tomato;
    color: white;
  }
  
  .white-theme {
    background-color: white;
    color: black;
  }
  
  .yellow-theme {
    background-color: yellow;
    color: white;
  }
  
  .blue-theme {
    background-color: blue;
    /*   change text to white */
    color: white;
  }