#container {
    background-color: azure;
}
body {
    background-color: lightgreen;
    font-family: 'Rowdies', cursive;
}
h1  {
    color: rebeccapurple;
    text-align: center;
    font-size: 60px;
}
h3 {
    color: rebeccapurple;
    text-align: left;
    font-size: 40px;
}
.spaced {
    line-height: 2.0em;
}
.capitalize {
    text-transform: capitalize;
}
.bold {
    font-weight: 700;
    font-style: italic;
}
.align {
    align-items: center;
}
p {
    color: black;
    padding: 10px;
    margin-inline-end: 30px;
    text-align: center;
}