body {
    background-color: lightgreen;
    font-family: 'Rowdies', cursive;
}
h1  {
    color: rebeccapurple;
}
.spaced {
    line-height: 2.0em;
}
.capitalize {
    text-transform: capitalize;
}
.bold {
    font-weight: 700;
    font-style: italic;
}