.container {
    display: flex;
    background-color: azure;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


body {
    background-color: lightgreen;
    font-family: 'Rowdies', cursive;
    display: block;
    align-items: center;
}
h1  {
    color: rebeccapurple;
    text-align: center;
    font-size: 60px;
    width: 40%;
}
h3 {
    color: rebeccapurple;
    text-align: left;
    font-size: 40px;
    width: 40%;
}
.spaced {
    line-height: 2.0em;
}
.capitalize {
    text-transform: capitalize;
}
.bold {
    font-weight: 700;
    font-style: italic;
}
.align {
    align-items: center;
}
p {
    color: black;
    padding: 10px;
    text-align: center;
}

.box1, .box2 {
    width: 75%;
    margin: 2%;
    padding: 1%;
    float: left;
    align-items: center;
    position: relative;
}
