.container {
    display: flex;
    margin: 20px;
    justify-content: flex-start;
}


body {
    background-color: lightgreen;
    font-family: 'Rowdies', cursive;
    display: block;
    align-items: center;
}
h1  {
    color: rebeccapurple;
    text-align: center;
    font-size: 60px;
}
h3 {
    color: rebeccapurple;
    text-align: center;
    font-size: 40px;
}
.spaced {
    line-height: 2.0em;
}
.capitalize {
    text-transform: capitalize;
}
.bold {
    font-weight: 700;
    font-style: italic;
}
.align {
    align-items: center;
}
p {
    color: black;
    padding: 10px;
    text-align: center;
}

.eng {
    background-color: whitesmoke;
    width:800px;
    padding: 15px;
    margin: 40px;
    z-index: 1;
}
p:hover {
    font-size: 24pt;
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border: transparent 1pt rgb(255, 255, 255);
}
.por {
    background-color: whitesmoke;
    width:800px;
    padding:15px;
    margin: 40px;
    z-index:4;
}