.container {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    color: tomato;
}

section{
    width: 60%;
}

header, footer{
height: 20vh;
background: yellow;
}

aside{
    width:40%;
    background: green;
}

main{
    display: flex;
    flex-direction: row;
    height: 60vh;
}

@media (max-width: 600px){
    main{
        flex-direction: column;
    }
    section, aside{
        width: 100%;
        height: 50vh;
    }
}
