.container {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    color: black;
    padding: 10px;
    text-align: center;
}
h1  {
    color: rebeccapurple;
}
h3 {
    color: orangered;
}

html, body {
    height: 100vh;
    width: 100%;
    background-color: teal;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:15px;
    margin: 40px;
    z-index:4;
}

section{
    width: 50%;
}

header, footer{
height: 20vh;
background: yellow;
}

aside{
    width:50%
}

main{
    display: flex;
    flex-direction: row;
    height: 60vh;
}

@media (max-width: 800px){
    main{
        flex-direction: column;
    }
    section, aside{
        width: 100%;
    }
    .container{
        background-color: white;
    }
    .por {
    background-color: white;
    }
    html, body {
        background-color: aliceblue;
    }
}

@media (max-width: 1200px){
    main{
        flex-direction: column;
    }
    section, aside{
        width: 100%;
    }
    .container{
        background-color: blanchedalmond;
    }
    .por {
        background-color: aqua;
    }
    html, body {
        background-color: blueviolet;
    }

}

.por {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:15px;
    margin: 40px;
    z-index:4;
}

p:hover {
    font-size: 24pt;
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border: transparent 1pt rgb(255, 255, 255);
}