* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #nav-primary {
    width: 420px;
    float: left;
    padding: 10px 0;
  }

  html,
  body {
    width: auto;
    padding: 30px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    align-content: center;
  }

  main {
    display: block;
    width: 1230px;
    align-items: center;
  padding: 30px 15px 30px 15px;
  top: 0;
  left: 50%;
  z-index: 5;
  min-height: 500px;
  }

  main #list {
    overflow: hidden;
    display: flex;
    width: 1230px;
    align-items: center;
    margin: 100px auto 0 auto;
  padding: 0;
  top: 0;
  left: 50%;
  z-index: 5;
  min-height: 500px;
  }

header {
  display: block;
  width: 1230px;
  padding: 30px 15px 0 15px;
  position: fixed;
  top: 0;
  left: 50%;
  margin: 0 0 0 -630px;
  z-index: 5;
    background-color: white;
    color: black;
    border-bottom: 1px solid #000;
    border-bottom-width: 100%;
    overflow: hidden;
}

header #logo {
  align-items: center;
  text-align: center;
  width: auto;
}

.other-nav {
  padding: 10px;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}

.overflow {
  overflow: hidden;
}

  form {
    overflow: hidden;
    float: right;
    text-align: right;
  }

.container {
  width: 1230px;
  margin: 100px auto 0 auto;
  padding: 0;
}

  .upanddown {
      display: flex;
      align-content: right;
  }
 
  header {
    padding-top: 40px;
}

/*font*/
h2 {
font-family:'Koulen', cursive;
  font-size: 50px;
  color: black;
}

h3 {
  font-family:'Koulen';
    color: black;
    font-size: 1.17em;
  }

ul .card.hide {
    display: none;
}

ul .card.show {
    animation: fadeIn 0.5s ease;
}

  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: hidden;
    opacity: 0;
}

  .filters {
    /*   background-color: #f15b31; */
    padding: 20px;
    /*   display: flex; */
    position: relative;
    display: flex;
    width: 100%;
  }

  .list {
    /*   background-color: #f15b31; */
    padding: 0;
    /*   display: flex; */
    align-content: center;
    display: flex;
    width: 1230px;
  }

  main #list {
    /*   background-color: #f15b31; */
    padding: 0;
    /*   display: flex; */
    align-content: center;
    display: flex;
    width: 1230px;
  }
  
  .filter-btn {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f15b31;
    border-radius: 1px;
    margin: 5px;
    float: left;
    width: 100px;
    height: 30px;
    text-align: center;
    border: black
  }

  .filter-btn2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f15b31;
    border-radius: 1px;
    width: 100px;
    height: 30px;
    margin: 5px;
    text-align: center;
    border: none;
    align-items: right;
  }
  
  .filter-btn.active {
    border-color: #16b5ef;
    background: #16b5ef;
  }

  
  .filter-content{
    margin: 15px auto;
    width: 90%;
}
  
  ul {
    display: flex;
    flex-wrap: wrap;
    /*   flex-wrap: wrap; */
    justify-content: space-between;
  }



  li {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    width: 20%;
}

img{
    width: 250px;
    height: 250px;
    border: 1em #101014;
    margin: 20px;
}
  
  /*li:hover {
    background: rgb(100, 226, 220);
    width: 300px;
    height: 300px;
  }*/
  
  ul .card.hide {
    display: none;
  }
  
  ul .card.show {
    animation: fadeIn 0.5s ease;
  }

  ul {
    align-content: center;
    width: 1230px;
  }
  

  
